body{
font-family: ‘Droid Sans’, sans-serif;

}
h1.window{
 position: fixed; /* or absolute */
 top: 50%;
 left: 50%;
 margin-left: auto;
 margin-top: auto;
 transform: translate(-50%, -50%);
 font-size: 100px;
 line-height: 50px;
 text-align: center;
 padding: 30px;
 color: #fff;
 cursor: pointer;
 background: #222;
}
